<%= form_with model: @project do |f| %>
  <div class="mb-4">
    <%= f.label :name, class: "block mb-1" %>
    <%= f.text_field :name, class: "border rounded px-3 py-2 w-full" %>
  </div>
  <div class="flex gap-2">
    <%= f.submit class: "py-2.5 px-6 text-sm bg-indigo-500 text-white rounded-lg cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:bg-indigo-700" %>
    <%= link_to "Cancel", projects_path, class: "py-2.5 px-6 text-sm font-semibold text-indigo-500 transition-all duration-500 hover:text-indigo-700" %>
  </div>
<% end %>

